- id: 1
  code: ecocash
  currency: usd
  deposit: true
  withdraw: true
- id: 2
  code: sbz
  currency: usd
  deposit: true
  withdraw: true
- id: 3
  code: scbz
  currency: usd
  deposit: true
  withdraw: true
- id: 4
  code: bbz
  currency: usd
  deposit: true
  withdraw: true
- id: 5
  code: cbz
  currency: usd
  deposit: true
  withdraw: true
- id: 6
  code: nmb
  currency: usd
  deposit: true
  withdraw: true
- id: 7
  code: stbz
  currency: usd
  deposit: true
  withdraw: true
- id: 8
  code: mbca
  currency: usd
  deposit: true
  withdraw: true
- id: 9
  code: cabs
  currency: usd
  deposit: true
  withdraw: true
- id: 10
  code: ebz
  currency: usd
  deposit: true
  withdraw: true
- id: 11
  code: mbz
  currency: usd
  deposit: true
  withdraw: true
- id: 12
  code: wut
  currency: usd
  deposit: true
  withdraw: true
- id: 13
  code: mg
  currency: usd
  deposit: true
  withdraw: true
- id: 14
  code: zbz
  currency: usd
  deposit: true
  withdraw: true
