- id: 1
  key: usdollar
  code: usd
  symbol: "¥"
  coin: false
  precision: 2
  assets:
    accounts:
      -
        bank: 'Stanbic Bank'
        address: '6225 0885 6022 3501'
        password: '111111'
        tel: '95555'
- id: 2
  key: satoshi
  code: btc
  symbol: "฿"
  coin: true
  quick_withdraw_max: 0
  rpc: http://username:password@127.0.0.1:18332
  blockchain: https://blockchain.info/tx/#{txid}
  address_url: https://blockchain.info/address/#{address}
  assets:
    accounts:
      -
        address: 1HjfnJpQmANtuW7yr1ggeDfyfe1kDK7rm3
- id: 3
  key: litecoin
  code: ltc
  symbol: "Ł"
  coin: true
  quick_withdraw_max: 0
  rpc: http://username:password@127.0.0.1:18332
  blockchain: https://chainz.cryptoid.info/ltc/tx.dws?{txid}
  address_url: https://chainz.cryptoid.info/ltc/address.dws?{address}
  assets:
    accounts:
      -
        address: LLZ48xht4E9GUByPNsxV4L2DXgyGfT2UYX
- id: 4
  key: dash
  code: dash
  symbol: "D"
  coin: true
  quick_withdraw_max: 0
  rpc: http://username:password@127.0.0.1:18332
  blockchain: https://chainz.cryptoid.info/dash/tx.dws?{txid}
  address_url: https://chainz.cryptoid.info/dash/address.dws?{address}
  assets:
    accounts:
      -
        address: XrbzawwixkU7P6wxNgRmUYUE8dNKa6Cu4q