<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'cny'" src="'/templates/funds/deposit_cny.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/deposit_btc.html'"></ng-include>
<ng-include ng-if="currency == 'usd'" src="'/templates/funds/deposit_usd.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/deposit_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'spr'" src="'/templates/funds/deposit_spr.html'"></ng-include>
<ng-include ng-if="currency == 'eur'" src="'/templates/funds/deposit_eur.html'"></ng-include>
<ng-include ng-if="currency == 'bcr'" src="'/templates/funds/deposit_bcr.html'"></ng-include>
<ng-include ng-if="currency == 'gbp'" src="'/templates/funds/deposit_gbp.html'"></ng-include>
<ng-include ng-if="currency == 'dash'" src="'/templates/funds/deposit_dash.html'"></ng-include>
<ng-include ng-if="currency == 'zar'" src="'/templates/funds/deposit_zar.html'"></ng-include>
